In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from datetime import datetime, timedelta

In [5]:
#Creatimg my dataframe with column names scraped beforehand
# df= pd.DataFrame(columns=['Rank',
#  'Season',
#  'Date',
#  'Score',
#  'Excitment',
#  'Tension',
#  'Comeback',
#  'MVP',
#  'LVP'])

start_date = datetime(2024, 4, 6)
end_date = datetime(2024, 4, 14)

current_date = start_date
while current_date <= end_date:
    #print(current_date.strftime("%Y-%m-%d"))  # or just use current_date
    url= f"https://stats.inpredictable.com/nba/topGame.php?sort=ei&season=2023&team=ALL&po=0&frdt={current_date.strftime('%Y-%m-%d')}&todt={current_date.strftime('%Y-%m-%d')}"
    page= requests.get(url)
    soup= BeautifulSoup(page.text, 'html')

    table= soup.find('table')

    ##Getting columns
    columns= soup.find_all('th')
    columns_list= [column.text for column in columns]

    #getting rows
    rows= table.find_all('tr')[1:]

    rows_list=[]
    for row in rows:
        curr= row.find_all('td')
        curr.pop(4)
        rows_list.append([data.text for data in curr])

    for row in rows_list:
        df.loc[len(df)]= row

    current_date += timedelta(days=1)

df.drop(['Rank'], axis=1, inplace=True)
df.to_csv("2023_GEI_scraped", index=False)
df

,Season,Date,Score,Excitment,Tension,Comeback,MVP,LVP
0,2023,2023-10-24,"PHX 108, GSW 104",9.9,89.5,4.4,J. Okogie: +22.9%,G. Allen: -15.0%
1,2023,2023-10-24,"LAL 107, DEN 119",5.6,69.8,1.2,J. Murray: +20.6%,G. Vincent: -13.2%
2,2023,2023-10-25,"DAL 126, SAS 119",10.0,93.8,4.0,G. Williams: +26.8%,J. Sochan: -19.6%
3,2023,2023-10-25,"CLE 114, BKN 113",9.4,90.1,31.3,D. Mitchell: +65.7%,D. Garland: -21.0%
4,2023,2023-10-25,"BOS 108, NYK 104",9.1,85.5,7.7,K. Porzi??is: +64.1%,J. Brunson: -25.4%
...,...,...,...,...,...,...,...,...
1222,2023,2024-04-14,"ATL 115, IND 157",3.3,49.9,1.0,M. Turner: +23.4%,T. Young: -1.9%
1223,2023,2024-04-14,"LAL 124, NOP 108",2.5,41.0,1.0,A. Reaves: +10.6%,Z. Williamson: -10.7%
1224,2023,2024-04-14,"DET 95, SAS 123",2.4,41.6,1.3,D. Graham: +7.9%,C. Metu: -6.5%
1225,2023,2024-04-14,"POR 82, SAC 121",2.0,34.6,1.1,K. Ellis: +6.7%,D. Banton: -11.3%
1226,2023,2024-04-14,"DAL 86, OKC 135",1.8,29.7,1.0,C. Wallace: +7.4%,J. Hardy: -8.3%

In [6]:
df

,Season,Date,Score,Excitment,Tension,Comeback,MVP,LVP
0,2023,2023-10-24,"PHX 108, GSW 104",9.9,89.5,4.4,J. Okogie: +22.9%,G. Allen: -15.0%
1,2023,2023-10-24,"LAL 107, DEN 119",5.6,69.8,1.2,J. Murray: +20.6%,G. Vincent: -13.2%
2,2023,2023-10-25,"DAL 126, SAS 119",10.0,93.8,4.0,G. Williams: +26.8%,J. Sochan: -19.6%
3,2023,2023-10-25,"CLE 114, BKN 113",9.4,90.1,31.3,D. Mitchell: +65.7%,D. Garland: -21.0%
4,2023,2023-10-25,"BOS 108, NYK 104",9.1,85.5,7.7,K. Porzi??is: +64.1%,J. Brunson: -25.4%
...,...,...,...,...,...,...,...,...
1222,2023,2024-04-14,"ATL 115, IND 157",3.3,49.9,1.0,M. Turner: +23.4%,T. Young: -1.9%
1223,2023,2024-04-14,"LAL 124, NOP 108",2.5,41.0,1.0,A. Reaves: +10.6%,Z. Williamson: -10.7%
1224,2023,2024-04-14,"DET 95, SAS 123",2.4,41.6,1.3,D. Graham: +7.9%,C. Metu: -6.5%
1225,2023,2024-04-14,"POR 82, SAC 121",2.0,34.6,1.1,K. Ellis: +6.7%,D. Banton: -11.3%
1226,2023,2024-04-14,"DAL 86, OKC 135",1.8,29.7,1.0,C. Wallace: +7.4%,J. Hardy: -8.3%

In [7]:
df.to_csv("2023_GEI_scraped.csv", index=False)